<nav class="navbar navbar-default fixed-top text-center" role="navigation">
	<div class="container">
		<!-- Шапка сайта на мобилках -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">LOGO</a>
		</div>
		<!-- Сама навигация -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav nav-center">
				<li><a href="#">Our Mission</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Services</a></li>
			</ul>
		</div>
		<!-- 		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav nav-center">
						<li><a href="#">+79992416959</a></li>
						<li><a href="#">+79992416959</a></li>
				</ul>
		</div> -->
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>