<div class="channel__menu">
	
		<div class="row">
			<div class="col-xs-6 col-md-3 text-center channel__item--active channel__item">
				<a href="#!" class="channel__link channel__link--active">
					<span class="channel__type">Эфирные</span>
					<span class="channel__sum">27</span>
				</a>
			</div>
			<div class="col-xs-6 col-md-3 text-center channel__item">
				<a href="#!" class="channel__link">
					<span class="channel__type">Новостные</span>
					<span class="channel__sum">8</span>
				</a>
			</div>
			<div class="col-xs-6 col-md-3 text-center channel__item">
				<a href="#!" class="channel__link">
					<span class="channel__type">Детям</span>
					<span class="channel__sum">2</span>
				</a>
			</div>
			<div class="col-xs-6 col-md-3 text-center channel__item">
				<a href="#!" class="channel__link">
					<span class="channel__type">Спорт</span>
					<span class="channel__sum">1</span>
				</a>
			</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3 text-center channel__item">
					<a href="#!" class="channel__link">
						<span class="channel__type">Музыка</span>
						<span class="channel__sum">9</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 text-center channel__item">
					<a href="#!" class="channel__link">
						<span class="channel__type">Мир</span>
						<span class="channel__sum">8</span>
					</a>
				</div>
				<div class="col-xs-12 col-md-3 text-center channel__item">
					<a href="#!" class="channel__link">
						<span class="channel__type">Развлекательные</span>
						<span class="channel__sum">9</span>
					</a>
				</div>
				
				
				<div class="col-xs-12 col-md-3 text-center channel__item">
					<a href="#!" class="channel__link">
						<span class="channel__type">Познавательные</span>
						<span class="channel__sum">5</span>
					</a>
				</div>
			</div>
		

		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/1channel.png" alt="">
				
				<span class="channel__name">Россия 24</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russia24.png" alt="">
				
				<span class="channel__name">СТС</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/1channel.png" alt="">
				
				<span class="channel__name">МУЗ ТВ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russia24.png" alt="">
				
				<span class="channel__name">Россия 1</span>
			</div>
		</div>
		<!-- Next -->
		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russia.png" alt="">
				
				<span class="channel__name">Россия31</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/carusel.png" alt="">
				
				<span class="channel__name">Карусель</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russia.png" alt="">
				
				<span class="channel__name">Домашний</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/carusel.png" alt="">
				
				<span class="channel__name">Россия 1 HD</span>
			</div>
			
		</div>
		<!-- Next -->
		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/match.png" alt="">
				
				<span class="channel__name">МАТЧ! ТВ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/otr.png" alt="">
				
				<span class="channel__name">ОТР</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/match.png" alt="">
				
				<span class="channel__name">ТВ3</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/otr.png" alt="">
				
				<span class="channel__name">Че</span>
			</div>
			
		</div>
		<!-- Next -->
		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/ntv.png" alt="">
				
				<span class="channel__name">НТВ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/tvc.png" alt="">
				
				<span class="channel__name">ТВЦ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/ntv.png" alt="">
				
				<span class="channel__name">Звезда</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/tvc.png" alt="">
				
				<span class="channel__name">2X2</span>
			</div>
			
		</div>
		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/5channel.png" alt="">
				
				<span class="channel__name">5 канал</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/rentv.png" alt="">
				
				<span class="channel__name">РЕН-ТВ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/5channel.png" alt="">
				
				<span class="channel__name">Мир</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/rentv.png" alt="">
				
				<span class="channel__name">СТС Love</span>
			</div>
			
		</div>
		<div class="row">
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russiak.png" alt="">
				
				<span class="channel__name">Россия К</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/spas.png" alt="">
				
				<span class="channel__name">Спас</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/russiak.png" alt="">
				
				<span class="channel__name">ТНТ</span>
			</div>
			<div class="channel__point col-xs-6 col-lg-3 text-left">
				<img class="channel__img" src="img/spas.png" alt="">
				
				<span class="channel__name">Ю</span>
			</div>
			</div>
		

	</div>