<div class="channel__menu">
	<div class="container">
		
		<div class="col-xs-6 col-md-3 text-center channel__item--active channel__item">
			<a href="#!" class="channel__link channel__link--active">
				<span class="channel__type">Эфирные</span>
				<span class="channel__sum">27</span>
			</a>
		</div>
		<div class="col-xs-12 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Познавательные</span>
				<span class="channel__sum">5</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Детям</span>
				<span class="channel__sum">2</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		<div class="col-xs-12 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Познавательные</span>
				<span class="channel__sum">5</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Детям</span>
				<span class="channel__sum">2</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/1channel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Россия 24</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/russia24.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>СТС</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/1channel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>МУЗ ТВ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/russia24.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Россия 1</span>
			</div>
		</div>
		<!-- Next -->
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/russia.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Россия31</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/carusel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Карусель</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/russia.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Домашний</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/carusel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Россия 1 HD</span>
			</div>
			
		</div>
		<!-- Next -->
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/match.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>МАТЧ! ТВ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/otr.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>ОТР</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/match.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>ТВ3</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/otr.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Че</span>
			</div>
			
		</div>
		<!-- Next -->
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/ntv.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>НТВ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/tvc.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>ТВЦ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/ntv.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Звезда</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/tvc.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>2X2</span>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/5channel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>5 канал</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/rentv.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>РЕН-ТВ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/5channel.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Мир</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/rentv.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>СТС Love</span>
			</div>
			
		</div>		
		<div class="row">
			<div class="col-lg-1 text-left">
				<img src="img/russiak.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Россия К</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/spas.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Спас</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/russiak.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>ТНТ</span>
			</div>
			<div class="col-lg-1 text-left">
				<img src="img/spas.png" alt="">
			</div>
			<div class="col-lg-2 text-left">
				<span>Ю</span>
			</div>
			
		</div>			
	</div>