<h2 class="tv__title text-center">
Заявка на подключение
</h2>
<div class="container text-center connection__form">

	<form class="form-inline">

		<div class="connection__item form-group col-xs-12 col-md-4">
			<input type="text" class="connection__input form-control" placeholder="Ваше имя">
		</div>
		<div class="connection__item form-group col-xs-12 col-md-4">
			<input type="text" class="connection__input form-control" placeholder="Ваш телефон">
		</div>
		<div class="connection__item col-xs-12 col-md-4 text-right">
			<button type="submit" class="connection__submit btn btn-default">Отправить заявку</button>
		</div>
	</form>
</div>
