<h2 class="tv__title text-center">
Заявка на подключение
</h2>
<div class="container text-center">
	<form class="form-inline">
		<div class="form-group col-xs-12 col-md-4">
			<input type="email" class="connection__input form-control" placeholder="Ваше имя">
		</div>
		<div class="form-group col-xs-12 col-md-4">
			<input type="password" class="connection__input form-control" placeholder="Ваш телефон">
		</div>
		<div class="col-xs-12 col-md-4">
			<button type="submit" class="connection__submit btn btn-default">Отправить заявку</button>
		</div>
	</form>
</div>