<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="col-sm-2 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="http://www.netbynet.ru/">О компании<img class="footer__title-icon" src="img/arrow.png" alt=""></a></li>

					<li class="footer__item"><a class="footer__link" href="http://www.netbynet.ru/about/contact">Контактная информация</a></li>
					<li class="footer__item"><a class="footer__link" href="http://corp.netbynet.ru/press_center/">Пресса о нас</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/customers/offices">Офисы продаж и обслуживания</a></li>
					<li class="footer__item awards"><a class="footer__link" href="http://www.netbynet.ru/">Наши награды</a></li>
					
				</ul>
			</div>
			<div class="col-sm-2 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="https://www.wifire.ru/wifiretv">Цифровое ТВ <img class="footer__title-icon" src="img/arrow.png" alt=""></a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv_info">Об услуге</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv/howtowatch">Как смотреть</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv">Тарифы</a></li>
				</ul>
			</div>
			<div class="col-sm-offset-0 col-sm-2 col-lg-offset-1 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="https://www.wifire.ru/wifiremobile">Мобильный Интернет<img class="footer__title-icon" src="img/arrow.png" alt=""></a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile/info">О технологии LTE</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile/info/coverage">Карта покрытия</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile">Тарифы</a></li>
					
				</ul>
			</div>
			<div class="col-sm-offset-0 col-sm-3 col-lg-offset-1 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="/wifirehome">Домашний Интернет<img class="footer__title-icon" src="img/arrow.png" alt=""></a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirepackets">Пакеты услуг</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirehome">Тарифы</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirehome-chassektor">Тарифы для частного сектора</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirevas">Дополнительные услуги</a></li>
					<li class="footer__item"><a class="footer__link" href="http://antivir.wifire.ru/">Антивирус</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirevas">Видеонаблюдение</a></li>
				</ul>
			</div>

			<div class="col-sm-2 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="/customers/">Абонентам<img class="footer__title-icon" src="img/arrow.png" alt=""></a></li>
					<li class="footer__item"><a class="footer__link" href="https://my.netbynet.ru/">Личный кабинет</a></li>
					<li class="footer__item"><a class="footer__link" href="/customers/docs">Документы</a></li>
					<li class="footer__item"><a class="footer__link" href="/pay">Способы оплаты</a></li>
					<li class="footer__item"><a class="footer__link" href="http://help.netbynet.ru/">Помощь Абонентам</a></li>
					<li class="footer__item"><a class="footer__link" href="http://expert.wifire.ru/">Интернет-магазин</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col-xs-6 text-left">
				  <div class="col-xs-2">
				  	<img src="img/16+.png" alt="" class="footer__soc-age">
				  	</div>
				  	<div class="col-xs-offset-1 col-xs-8 col-lg-offset-0">
				  	<span class="footer__soc-text">
				  		Wifire &#169; 2017 <br>
				  		Powered by NETBYNET
				  	</span>
				  	</div>
				  </div>
				<div class="col-xs-6 text-right">
					<a href="https://www.facebook.com/wifireexpert">
						<img src="img/facebook.svg" alt="" class="footer__soc-icon">
					</a>
					<a href="https://vk.com/wifireexpert">
						<img src="img/vk.svg" alt="" class="footer__soc-icon">
					</a>
					
				</div>
			</div>
		</div>
	</div>
</footer>