<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="http://www.netbynet.ru/">О компании</a></li>
					<li class="footer__item"><a class="footer__link" href="http://www.netbynet.ru/about/contact">Контактная информация</a></li>
					<li class="footer__item"><a class="footer__link" href="http://corp.netbynet.ru/press_center/">Пресса о нас</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/customers/offices">Офисы продаж и обслуживания</a></li>
					<li class="awards"><a href="http://www.netbynet.ru/">Наши награды</a></li>
					<li class="icon_premia__wrapper">
						<a  class="icon_premia" href="">
							<img src="img/icon_premiya.png" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="https://www.wifire.ru/wifiretv">Цифровое ТВ</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv_info">Об услуге</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv/howtowatch">Как смотреть</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiretv">Тарифы</a></li>
				</ul>
			</div>
			<div class="col-lg-offset-1 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="https://www.wifire.ru/wifiremobile">Мобильный Интернет</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile/info">О технологии LTE</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile/info/coverage">Карта покрытия</a></li>
					<li class="footer__item"><a class="footer__link" href="https://www.wifire.ru/wifiremobile">Тарифы</a></li>
					
				</ul>
			</div>
			<div class="col-lg-offset-1 col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="/wifirehome">Домашний Интернет</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirepackets">Пакеты услуг</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirehome">Тарифы</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirehome-chassektor">Тарифы для частного сектора</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirevas">Дополнительные услуги</a></li>
					<li class="footer__item"><a class="footer__link" href="http://antivir.wifire.ru/">Антивирус</a></li>
					<li class="footer__item"><a class="footer__link" href="/wifirevas">Видеонаблюдение</a></li>
				</ul>
			</div>
			<div class="col-lg-2">
				<ul class="footer__col">
					<li class="footer__item footer__title"><a class="footer__link footer__link--title" href="/customers/">Абонентам</a></li>
					<li class="footer__item"><a class="footer__link" href="https://my.netbynet.ru/">Личный кабинет</a></li>
					<li class="footer__item"><a class="footer__link" href="/customers/docs">Документы</a></li>
					<li class="footer__item"><a class="footer__link" href="/pay">Способы оплаты</a></li>
					<li class="footer__item"><a class="footer__link" href="http://help.netbynet.ru/">Помощь Абонентам</a></li>
					<li class="footer__item"><a class="footer__link" href="http://expert.wifire.ru/">Интернет-магазин</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>