<div class="top-menu">
<div class="container">
	<ul class="top-menu__list top-menu__list--left">
		<li class="top-menu__item">
			<a href="#!" class="top-menu__link">
				<img src="./img/map.png" alt="">
				<span>Москва</span>
			</a>
		</li>
	</ul>
	<ul class="top-menu__list top-menu__list--right">
		
		<li class="top-menu__item">
			<a href="#!" class="top-menu__link">
				<img src="./img/cart.png" alt="">
			Интернет магазин</a>
		</li>
		<li class="top-menu__item">
			<a href="#!" class="top-menu__link">
				<img src="./img/pay.png" alt="">
			Пополнение счета</a>
		</li>
		<li class="top-menu__item">
			<a href="#!" class="top-menu__link">
				<img src="./img/cab.png" alt="">
			Личный кабинет</a>
		</li>
	</ul>
</div>
</div>

<nav class="navigation">
			<div class="container">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="" class="nav__link">
							<img src="img/logo.png" alt="">
						</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">
							Цифровое<br>
							телевидение
						</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">
							Домашний<br>
							интернет
						</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">
							Мобильный<br>
							интернет
						</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">
							Пакеты
							<br>
							услуг
						</a>
					</li>

					<li class="nav__item">
						<a href="" class="nav__link">
							Дополнительные<br>
							услуги
						</a>
					</li>
					<li class="nav__conctact">
						<a href="" class="nav__link">
							<span class="nav__desc">Подключение:</span>
							<br>
							<span class="nav__phone">
								8 (499) 553 94 56
							</span>
						</a>
					</li>
					<li class="nav__conctact">
						<a href="" class="nav__link">
							<span class="nav__desc">
								Служба поддержки:
							</span>
							<br>
							<span class="nav__phone">
								8 (499) 553 94 56
							</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>