<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"　aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-xs-1">
          <img src="img/70.svg" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-7">
          <span class="package__number">70</span><br>
          <span>каналов</span>
        </div>
      </div>
      <div class="modal-body">
        <span>
          Социальный пакет, в который вошли федеральные, познавательные, детские, спортивные, развлекательные каналы.
        </span>
        <div class="row">
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Эфирные</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Детям</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Познаватель</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Музыка</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Развлекатель</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Мир</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Новостные</span>
          </div>
          <div class="col-xs-6">
            <img src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Спорт</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>