<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"　aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <img src="img/modal-close.png" alt="">
        </span>
        </button>
        <div class="col-xs-1">
          <img src="img/70.svg" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-7">
          <p class="package__name package__name-modal">
            Wifire TV 70+
          </p>
          <span class="package__number-modal">70 каналов</span>
        </div>
      </div>
      <div class="modal-body">
      <div class="modal-about">
        <span class="modal-about__desc">
          Социальный пакет, в который вошли федеральные, познавательные, детские, спортивные, развлекательные каналы.
        </span>
      </div>
        <div class="row">
        <div class="col-xs-12 modal__row">
          <div class="col-xs-6">
            <img class="modal__img" src="img/18+.png" alt="" class="modal__img">
            <span class="modal__desc">Эфирные</span>
            <span class="modal__number">8</span>
          </div>
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon7.png" alt="" class="modal__img">
            <span class="modal__desc">Детям</span>
            <span class="modal__number">8</span>
          </div>
        </div>


<div class="col-xs-12 modal__row">
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon3.png" alt="" class="modal__img">
            <span class="modal__desc">Познавательные</span>
            <span class="modal__number">8</span>
          </div>
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon4.png" alt="" class="modal__img">
            <span class="modal__desc">Музыка</span>
            <span class="modal__number">8</span>
          </div>
</div>

<div class="col-xs-12 modal__row">

          <div class="col-xs-6">
            <img class="modal__img" src="img/icon5.png" alt="" class="modal__img">
            <span class="modal__desc">Развлекательные</span>
            <span class="modal__number">8</span>
          </div>
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon6.png" alt="" class="modal__img">
            <span class="modal__desc">Мир</span>
            <span class="modal__number">8</span>
          </div>

</div>


<div class="col-xs-12 modal__row">
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon9.png" alt="" class="modal__img">
            <span class="modal__desc">Новостные</span>
            <span class="modal__number">8</span>
          </div>
          <div class="col-xs-6">
            <img class="modal__img" src="img/icon10.png" alt="" class="modal__img">
            <span class="modal__desc">Спорт</span>
            <span class="modal__number">8</span>
          </div>

</div>


        </div>
      </div>
    </div>
  </div>
</div>