


<div class="container package__container package__container--selected">
	<!-- inner content -->

 //= modal.html
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/70.svg" alt="package__option">
				<span class="package__name" data-toggle="modal" data-target="#myModal">
					Wifire TV 70+
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">70</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					169
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 2 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/130.svg" alt="package__option">
				<span class="package__name">
					Wifire TV 130+
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">130</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					349
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 3 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/150.svg" alt="package__option">
				<span class="package__name">
					Wifire TV 150+
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">150</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					479
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 4 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/180.svg" alt="package__option">
				<span class="package__name">
					Wifire TV 180+
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">180</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					949
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>


<h2 class="tv__title text-center">
Дополнительные ТВ-пакеты
</h2>

<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/poznavatelniy.svg" alt="package__option">
				<span class="package__name">
					Познавательный
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">+8</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					119
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__add-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 2 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/hd.svg" alt="package__option">
				<span class="package__name">
					HD
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">+14</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					279
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__add-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 3 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/chempion.svg" alt="package__option">
				<span class="package__name">
					Чемпион
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">+10</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					169
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__add-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>
</div>
<!-- 4 -->
<div class="container package__container">
	<!-- inner content -->
	<div class="accordion">
		<div class="row">
			<div class="package__subitem col-sm-12 col-lg-3 text-left">
				<img class="package__icon" src="img/amedia hd.svg" alt="package__option">
				<span class="package__name">
					Amedia HD
				</span>
			</div>
			
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				
				<span class="package__number">+2</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<span class="package__number">
					219
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-12 col-lg-3 text-right">
				<a href="#!" class="package__add-btn">
				</a>
			</div>
		</div>
		//= channel__menu.html
	</div>

</div>
<div class="container text-center">
	<a href="#!" class="packages__all">Все пакеты</a>
</div>

