	<h2 class="tv__title text-center">
	Выберете основной ТВ-пакет каналов
	</h2>
<div class="container channel__container">

	<!-- inner content -->
	<div class="accordion">
		<div class="row package__wrapper">
			<div class="package__subitem col-sm-3 text-center">
				<img class="package__icon" src="img/70.svg" alt="package__option">
				<span class="package__name">
					Wifire TV 70+
				</span>
			</div>
			
			<div class="package__subitem col-sm-3 text-center">
				
				<span class="package__number">70</span>
				<span>каналов</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
			</div>
			<div class="package__subitem col-sm-3 text-center">
				<span class="package__number">
					169
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-sm-3 text-center">
				<a href="#!" class="package__main-btn">
					Выбрать
				</a>
			</div>
			
			
			
		</div>
		//= channel__menu.html
	</div>
	
</div>