<div class="container channel__container ">
	<h2 class="tv__title text-center">
	Выберете основной ТВ-пакет каналов
	</h2>

	<!-- inner content -->
	<div class="channel__top-menu">
		<ul class="accordion">
			<li>
				
				<span>
					Content 1
				</span>
				<a>
					<span>70</span>
					<span>Каналов</span>
					<div class="arrow-container">
						<a class="arrow"></a>
					</div>
				</a>
				<span>
					Content 2
				</span>
				<span>
					Content 3
				</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum, fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex aspernatur porro
				minus sapiente voluptatibus eos at perferendis repellat odit aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.</p>
			</li>
			<li>
				<a>Repellat Odit Aliquid </a>
				<span>Content 1</span><span>Content 2</span><span>Content 3</span><span>Content 4 Content 4 Content 4 Content 4 Content 4 Content 4</span>
				<div class="arrow-container">
					<a class="arrow"></a>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum, fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex aspernatur porro
				minus sapiente voluptatibus eos at perferendis repellat odit aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.</p>
			</li>
		</ul>
		
	</div>
	<div class="channel__menu">
		
		<div class="col-xs-6 col-md-3 text-center channel__item--active channel__item">
			<a href="#!" class="channel__link channel__link--active">
				<span class="channel__type">Эфирные</span>
				<span class="channel__sum">27</span>
			</a>
		</div>
		<div class="col-xs-12 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Познавательные</span>
				<span class="channel__sum">5</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Детям</span>
				<span class="channel__sum">2</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		<div class="col-xs-12 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Познавательные</span>
				<span class="channel__sum">5</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Детям</span>
				<span class="channel__sum">2</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 text-center channel__item">
			<a href="#!" class="channel__link">
				<span class="channel__type">Спорт</span>
				<span class="channel__sum">1</span>
			</a>
		</div>
		
		<div class="row">
			<div class="col-lg-1 center-block">
				<img src="img/1channel.png" alt="">
			</div>
			<div class="col-lg-3 center-block">
				<span>Первый канал</span>
			</div>
		</div>
	</div>
</div>