<!-- 2 -->
<div class="container package__container">
	<!-- inner content -->
	//= modal.html
	<div class="accordion">
		<div class="row">
			<div class="col-xs-4 col-md-1 package__icon-wrapper">
				<img class="package__icon" src="img/130.svg" alt="package__option">
			</div>

			<div class="col-xs-8 col-md-2 text-left package__subitem package__program">
				<span class="package__name" data-toggle="modal" data-target="#myModal">
					Wifire TV 130+
				</span>
			</div>
			
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				
				<span class="package__number ">130</span>
				<span class="test__btn">каналов</span>
				<div class="arrow-container">
					<a class="arrow test__btn"></a>
				</div>
			</div>
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				<span class="package__number">
					349
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-xs-offset-4 col-xs-6 col-md-offset-0 col-md-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 3 -->
<div class="container package__container">
	<!-- inner content -->
	//= modal.html
	<div class="accordion">
		<div class="row">
			<div class="col-xs-4 col-md-1 package__icon-wrapper">
				<img class="package__icon" src="img/150.svg" alt="package__option">
			</div>

			<div class="col-xs-8 col-md-2 text-left package__subitem package__program">
				<span class="package__name" data-toggle="modal" data-target="#myModal">
					Wifire TV 150+
				</span>
			</div>
			
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				
				<span class="package__number ">150</span>
				<span class="test__btn">каналов</span>
				<div class="arrow-container">
					<a class="arrow test__btn"></a>
				</div>
			</div>
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				<span class="package__number">
					479
				</span>
				<span>
					Р/мес
				</span>
			</div>
			<div class="package__subitem col-xs-offset-4 col-xs-6 col-md-offset-0 col-md-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 4 -->
<div class="container package__container">
	<!-- inner content -->
	//= modal.html
	<div class="accordion">
		<div class="row">
			<div class="col-xs-4 col-md-1 package__icon-wrapper">
				<img class="package__icon" src="img/180.svg" alt="package__option">
			</div>

			<div class="col-xs-8 col-md-2 text-left package__subitem package__program">
				<span class="package__name" data-toggle="modal" data-target="#myModal">
					Wifire TV 180+
				</span>
			</div>
			
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				
				<span class="package__number ">180</span>
				<span class="test__btn">каналов</span>
				<div class="arrow-container">
					<a class="arrow test__btn"></a>
				</div>
			</div>
			<div class="package__subitem col-xs-offset-4 col-xs-10 col-md-offset-0 col-md-3 text-right">
				<span class="package__number">
					949
				</span>
				<span>
					Р/мес
				</span>
			</div>

			<div class="package__subitem col-xs-offset-4 col-xs-6 col-md-offset-0 col-md-3 text-right">
				<a href="#!" class="package__main-btn">
				</a>
			</div>
		</div>
	</div>
</div>