<h2 class="tv__title text-center">
Где смотреть
</h2>


<div id="slider">
<div class="dots__wrapper">
<h2 class="watch__title-xs">ТВ - приставка</h2>
  <div class="dots">
  </div>
</div>
  <div class="content">
    <div data-title="ТВ-приставка" data-thumb="img/pristavka.png">

      //= watch__content.html
      <div class="prev"></div>
    </div>
    <div data-title="Smart TV" data-thumb="img/smart.png">
      //= watch__content.html
    </div>    
    <div data-title="Смартфоны и планшеты" data-thumb="img/pad-smart.png">
      //= watch__content.html
    </div>
  </div>
</div>
