<h2 class="tv__title text-center">
Где смотреть
</h2>

<div class="watch__container">
	<div class="container text-center">
		<div class="watch__menu">
			<ul class="watch__list text-center">
				<li class="watch__item">
					<a href="#!" class="watch__link">
						<img class="watch-nav__img" src="img/tv.png" alt="ТВ-приставка">
						ТВ-приставка
					</a>
				</li>
				<li class="watch__item">
					<a href="#!" class="watch__link">
						<img class="watch-nav__img" src="img/tv.png" alt="Smart TV">
						Smart TV
					</a>
				</li>
				<li class="watch__item">
					<a href="#!" class="watch__link">
						<img class="watch-nav__img" src="img/tv.png" alt="Смартфоны и планшеты">
						Смартфоны и планшеты
						
					</a>
				</li>
			</ul>
		</div>
	</div>


	<div class="container">

		<div class="col-xs-12 text-center">
			<h2 class="watch__title">
			ТВ-приставка «WIFIRE»
			</h2>
		</div>
		<div class="col-xs-12 text-center">
			<span class="watch__text">
				Самое современное телевидение у вас дома!
			</span>
		</div>
		<div class="col-xs-12 text-center">
			<span class="watch__text">
				Никаких сложных настроек и лишних проводов.
			</span>
		</div>
	</div>
	<div class="container">
		<div class="watch__slide">
			<div class="col-xs-12 col-md-6 text-center">
				<img class="img-responsive watch__img" src="img/router.png" alt="">
			</div>
			<div class="col-xs-12 col-md-6 text-left">
				<div class="row watch__row">
					<div class="col-xs-6 ">
						<img src="img/70.svg" alt="" class="watch__icon">
						<span class="watch__feature">
							Работает везде <br> где есть Интернет
						</span>
					</div>
					<div class="col-xs-6 ">
						<img src="img/70.svg" alt="" class="watch__icon">
						<span class="watch__feature">
							Поддерживает <br> HD видео
						</span>
					</div>
				</div>
				<div class="row watch__row">
					<div class="col-xs-6 ">
						<img src="img/70.svg" alt="" class="watch__icon">
						<span class="watch__feature">
							Подключение <br> по Wi-Fi
						</span>
					</div>
					<div class="col-xs-6 ">
						<img src="img/70.svg" alt="" class="watch__icon">
						<span class="watch__feature">
							Программа <br> передач на экране
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="watch-footer">
	<div class="container watch__wrapper">
		<div class="watch-footer__desc col-xs-12 col-md-6 text-left">
			<span>
				ТВ-приставка «WIFIRE»
			</span>
		</div>
		<div class="watch-footer__buttons col-xs-12 col-md-6 text-right">
			<a href="#!" class="watch-footer__btn">
				Купить
			</a>
			<a href="#!" class="watch-footer__btn">
				Арендовать
			</a>
		</div>
	</div>
</div>