/*
* Libs
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../style/partials/bootstrap.min.css";
@import "../style/partials/slick-theme";
@import "../style/partials/slick";



/*
* Custom
*/
@import "../style/partials/app";
@import "../style/partials/variables";
@import "../style/partials/fonts";
@import "../style/partials/header";
@import "../style/partials/footer";
@import "../style/partials/global";
@import "../style/partials/packages";
@import "../style/partials/banner";
@import "../style/partials/watch";
@import "../style/partials/connection";
@import "../style/partials/modal";


html {
	width: 100%;
	height: 100%; 
}

body {
	width: 100%;
	height: 100%;
}

