       .connection__input {
       	text-align: left;
       	padding: 20px 100px;
       	color: #999999;
       	border: none;
       	outline: none;
       }

       .connection__submit {
       	font-size: 1.642em;
       	background: @orange;
       	color: #fff;
       	padding: 20px 54px;
       	border: none;
       }
@media (max-width:1024px) {
       	.connection__form {
       	display: inline-block;
       }
       .connection__input {
       	margin-bottom: 20px;
       	padding: 20px;
       	color: #999999;
       	border: none;
       	outline: none;
       }
       
       .connection__submit {
       
       	font-size: 1.642em;
       	background: @orange;
       	color: #fff;
       	padding: 20px 166px;
       	border: none;
       }
}


