.nav__list {
	list-style: none;
}

.top-wrap:after {
      display: table;
      content: "";
      clear: both;
	}

.nav__contact-list {
	display: inline-block !important;
}
.nav__item, .nav__conctact {
	display: inline-block;
	float: left;
}

.nav__item:first-child {
	margin-top: 6px;
}
.nav__link, .banner__link {
	text-decoration: none;
}
.top-menu {
	background: #404040;
	color: #fff;

}

.top-menu__list {
	list-style: none;
	max-height: 30px;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 0;
}

.top-menu__item {
	display: inline-block;
	margin-left: 46px;

}
	.top-menu__item:first-child {
		margin-left: 0;
	}

.top-menu__list .nav__conctact {
		display: none;
	}

.top-menu__link, .top-menu__link:hover, 
.top-menu__link:active, .top-menu__link:focus {
	color: #fff;
	text-decoration: none;
}

.top-menu__link span {
	color: #bebebe;
	
}
.top-menu__place {
	border-bottom: 1px dashed #bebebe;
}


.top-menu__list--left {
	float: left;
}
.top-menu__list--right {
	float: right;
}

.banner__img {
	margin: 0 auto;
}






// Navigation

.navigation {
	background: #fff;
	max-height: 83px;
}
.nav__link, .nav__link:hover, 
.nav__link:active, .nav__link:focus {
	color: #444;
	font-size: 17px;
    line-height: 1.29;
}

	.navigation .nav__conctact {
		display: inline-block ;
	}

.nav__item {
	cursor: pointer;
	margin-right: 48px;
	display: inline-block;
	padding: 0;
	padding-bottom: 22px;
	border-bottom: 3px solid transparent;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item:hover {
	padding-bottom: 16px;
	border-bottom: 3px solid @orange;
	&:first-child {
		border-bottom: none;
	}
}


.nav__desc {
  font-family: 'Roboto-Regular';
  font-size: 14.3px;
  line-height: 1.79;
  color: #7c7c7c;
}

.nav__phone {
  font-family: 'Roboto-Medium';
  font-size: 1.2em;
  line-height: 1.19
}


.nav__list, .nav__contact-list {
	padding-bottom: 0;
	margin: 0;
	padding-top: 22px;
	padding-left: 0;
	display:flex;
	align-items: center;
}

.nav__conctact {
	margin-top: -25px;
	margin-left: 65px;
	padding-top: 19px;
}
.nav__conctact:last-child {
	margin-right: 0;
}

.menu-trigger, .menu-trigger-phone, .mobile_menu {
  display:none;
}
.logo_xs {
	display: none;
	
}


// 

@media (max-width: @tablet)   {
	.contact-menu {
		margin-top: 45px;
	}
	.contact-menu, .list {
		display: none;
	}
	.top-menu__action span {
	display: none;
	}

	.nav__item--logo {
		display: none !important;
	}
	.top-menu__shop{
		display: none;
	}
	.top-menu__action {
		margin-right: 0;
		margin-left: 20px;
	}
	.mobile_menu {
		display: block;
		padding-top: 23px;
		padding-bottom: 30px;
	}
	.menu-trigger {
		margin-right: 20px;
	}
	.menu-trigger, .menu-trigger-phone {
    display:inline-block;
    float: right;
    }
	
	.navigation {
    width: 100%;
    position: absolute;
    z-index: 99;
	}

   .nav__item {
     display:block;
     padding-top: 15px;
     width: 100%;
     border-top: 1px solid #e9e9ea;
     &:hover, &:active {
     	border-bottom: none;
     }
   }

   .nav__list {
     display:none;
   }
   .nav-contact {
   	display: block;
   	width: 100%;
   }

   .nav__contact-list {
   	display: none;
   }
   .logo_xs {
   	display: inline-block;
   	width: 36%;
   }
   	.nav__conctact-top {
		display: none;
	}

}




@media (min-width: @tablet) and (max-width: 1499px) {

	.top-menu__list--left .top-menu__item:before  {
		display: block;
		content: "";
		height: 22px;
		width: 1px;
	}
	.top-menu {
    	padding-bottom: 25px; 
	}

	.nav__conctact-top {
		display: inline-block;
		margin-left: 35px !important;
			
	}
	.nav__phone-top, .nav__top-desc {
		color: #fff;
	}
	.nav__top-desc {
		font-family: 'Roboto-Light';
		font-size: 0.785em;
		color: #bebebe;
	}
	.nav__item:nth-child(2) {
		margin-left: 68px;
	}

	.top-menu__list--right {
    padding-top: 39px;
    float: right;
    display: flex;
    align-items: center;
	}


}


@media (min-width: @desktop) {
	.nav__list {
		display: inline-block;
	}
	.contact-menu {
		display: inline-block;
	}
	.nav__conctact-top {
		display: none;
	}



}



@media (min-width: @tablet) and (max-width: @desktop) {
	.navigation .nav__conctact {
		display: none;
	}
	.nav__conctact {
		border-top: none;
	}
}


