.watch__container {
	background: #3b3d42;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 112px;
}


// watch-nav


.watch__img {

	display: inline-block;
	margin-top: 15px;
	margin-right: 0;
}

.watch__list {
  padding-left: 0;
  list-style: none;
}

.watch__item {
  position: relative;
  padding-bottom: 5px;
  margin-right: 68px;
  &:last-child {
  	margin-right: 0;
  }
  
}
.watch__item:hover :after {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: @orange;
  margin-top: 15px;
}

.watch__menu {
  margin: auto;
  display: inline-block;
  border-bottom: 2px solid #7c7d80;
}

.watch__item {
  cursor: pointer;
  display: inline-block
}

.watch__link {
  text-decoration: none;
  color: #ebebec;
  &:hover, &:focus, &:active {
  	color: #ebebec;
  }
}
.watch-nav__img {
	display: block;
	margin: 17px auto;
}

// watch-nav END

.watch__title {
	font-family: 'Roboto-Medium';
	font-size: 2.6428em;
	padding-bottom: 25px;
}

.watch__slide {
	padding-top: 75px;
}

.watch__text {
	font-family: 'Roboto-Light'; 
}

.watch__icon {
	display: inline-block;
	margin-right: 30px;
}
.watch__feature {
	display: inline-block;
}

.watch__row {
	margin-bottom: 22px;
	&:last-child {
		margin-bottom: 0;
	}
}
.watch-footer {
	background: #404040;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.watch-footer__desc {
	margin-top: 15px;
	font-family: 'Roboto-Medium';
	font-size: 1.5em;
}

.watch-footer__btn {
	padding: 15px 65px;
	display: inline-block;
	color: @orange;
	text-decoration: none;
	border: 2px solid @orange;
	&:hover, &:active, &:focus {
		color: @orange;
		text-decoration: none;
	}
	&:last-child {
		margin-left: -5px ;
	}
}

@media (max-width:1024px) {
	.watch-footer__desc {
		display: none;
	}
	.watch-footer__buttons {
		text-align: center;
	}
	.watch__row {
		text-align: center;
	}
}

@media (max-width:450px) {
	.watch-footer__btn {
		display: block;
		margin-top: 8px;
		width: 100%;
		&:last-child {
			margin-left: 0;
		}
	}
}
