.watch__container {
	background: #999;
}

.your-class {
	margin: 0 auto;
}

.watch__img {
	margin-top: 15px;
}

.watch__nav-wrapper {
	text-align: center;
}

.watch__nav {
	display: inline-block;
}
.watch__item {
	margin-right: 70px;
	&:last-child {
		margin-right: 0;
	}
}

.watch__nav li.active, .watch__nav li.active:hover, 
.watch__nav li:hover, .watch__nav a:hover {
     background-color: transparent !important;
}